.subNavIcon{
	display: none;
}
.subNav{
	display: none;
}
table{
	margin-top: var(--base-margin);
}
td{
	vertical-align: top;
	padding: var(--element-gap);
}
td:nth-child(1){
	font-size: 1.5rem;
	color: var(--primary-color);
}
td:nth-child(2){
	font-size: 1.3rem;
}
td:nth-child(2)>p{
	font-size: 1.1rem;
}
form{
	margin-top: var(--base-margin);
	text-align: left;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
form>h3{
	width: 100%;
}
form>input,form>textarea{
	margin:var(--element-gap) 0;
	font-size: 1.5rem;
	outline: none;
	flex-shrink: 0;
	border:1px solid var(--input-border-color);
	padding: 5px;
	background-color: var(--background-color);
	color: var(--on-background-color);
	width: 100%;
}
/*form>input:valid,form>textarea:valid{
	background-color: var(--secondary-color);
}*/
/*form>input:blank,form>textarea:blank{
	background-color:transparent;
}*/
form>input:user-invalid,form>textarea:user-invalid{
	background-color: red;
}
/*form>input:focus,form>textarea:focus{
	background-color: var(--secondary-light-varient-color);
	color: var(--on-secondary-color);
	border:1px solid black;
}*/
textarea{
	max-width: 100%;
	height:40vw;
}
@media only screen and (min-width:560px){
	form>input:nth-child(2),form>input:nth-child(3){
		width:47%;
	}
}
@media only screen and (min-width:768px){
	.details,form{
		margin-top: 48px;
		width:48%;
	}
	form>input:nth-child(2),form>input:nth-child(3){
		width:100%;
	}
	textarea{
		height: 20vw;
	}
}
@media only screen and (min-width:992px){
	textarea{
		height:15vw;
	}
}
@media only screen and (min-width:1200px){
	form>input:nth-child(2),form>input:nth-child(3){
		width:48%;
	}
}