<header class="fixed app-header flex">
	<div class="flex" style="width: 100%;justify-content: space-between;" >
		<div class="container pannel-link subNavIcon" data-pannelRef="subNav">
		<div class="icon-action">
			<i class="fas fa-bars"></i>	
		</div>
		</div>
		<a href="/index.html" class="internal">
		<div class="container flex logo">
			<div class="placeholders imgContainer">
				<img src="/img/icon.png">
			</div>
			<div class="container title">
				<span id="fname">Prakhar</span>
				<span id="sname">Mastain</span>
			</div>
		</div>
		</a>
		<div class="settings container">
		<div class="icon-action">
			<i class="fas fa-bell"></i>
		</div>
		<div class="icon-action" onclick="toggleDarkMode(this)">
			<i class="fas fa-moon"></i>
		</div>
		</div>
	</div>
	<nav>
		<a href="/home/" class="menu internal">
			<div class="navItemWrapper" id="home">
				<div><i class="fas fa-home"></i></div>
				<div><span>Home</span></div>
			</div>
		</a>
		<a href="/profile/" class="menu internal">
			<div class="navItemWrapper" id="profile">
				<div><i class="fas fa-laptop-code"></i></div>
				<div><span>My Profile</span></div>
			</div>
		</a>
		<a href="/charity/" class="menu internal">
			<div class="navItemWrapper" id="smile">
				<div><i class="fas fa-hands"></i></div>
				<div><span>Charity</span></div>
			</div>
		</a>
		<a href="/contact/" class="menu internal">
			<div class="navItemWrapper" id="contact">
				<div><i class="fas fa-phone-alt"></i></div>
				<div><span>Contact</span></div>
			</div>
		</a>
	</nav>
</header>
<noscript>
	<div class="headerCopy"></div>
</noscript>