body {
    font-family: Arial, sans-serif;
    margin: 20px;
    color: #00046d;
}

h1 {
    text-align: center;
    color: #00046d;
}

#textForm {
    width:100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
    gap: 10px;
}

#textInput, #customTextType, select {
    padding: 10px;
    border: 2px solid #00046d;
    border-radius: 5px;
    flex: 1;
    min-width: 200px;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-sizing: border-box;
    background-color: #00046d;
    color: white;
}

#statusMessage {
    text-align: center;
    margin-bottom: 20px;
    color: green;
}

#filters {
    width:100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    gap: 10px;
    flex-wrap:wrap;
}

#textTable {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

#textTable th, #textTable td {
    border: 1px solid #00046d;
    padding: 10px;
    text-align: left;
    box-sizing: border-box;
    white-space: nowrap;
}

#textTable th {
    background-color: #00046d;
    color: white;
}

.read-row {
    background-color: #e0e0e0;
}

#deleteSelectedButton {
    display: none;
}
